@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

body {
  /* cursor: url('images/surf.png'), auto; */
	background-color: #E5E5E5;
  font-family: 'Dancing Script', cursive;
  color: #013F56;
}

footer {
  padding-bottom: 50px;
}

li, p {
  font-family: 'Josefin Sans', sans-serif;
}

h2 {
  font-size: 3rem;
}

p {
    font-weight: normal;
}

i {
  color: #013F56;
  font-size: 2rem;
  margin: 0 10px;
}

/* Navigation Bar */

#navbar li {
  padding: 0px 70px;
  font-weight: 700;
  font-size: 1.1rem;
}

.transparent-bar {
  background-color: #E5E5E5;
  border-bottom: 1px solid lightgray;
  height: 6vw;
  width: 100vw;
  position: fixed;
  top: 0;
}

/* Top Header */

.top-header {
  padding-top: 15vw;
  padding-bottom: 5vw;
  text-align: center;
}

.top-header h1 {
  font-size: 6rem;
  color: #2CA5A9;
  padding-bottom: 40px;
}

.profile-img {
	width: 20%;
	border-radius: 50%;
  padding-bottom: 15px;
}

/* Separator */

.separator-line {
  border-top: 12px dotted #013F56;
  width: 5vw;
  margin: 3% 0% 3% 47%;
  color: transparent;
}

/* containers */

.container {
  padding: 0 100px;
}

.card {
  padding: 0 35%;
  text-align: center;
  line-height: 24px;
  background-color: transparent;
  border: none
}


/* Spotify */

.spotify {
  width: 300px;
  position: fixed;
  bottom: 15px;
  left: 40px;
}
